/*
@mixin props-flex ($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin medidas ($width,$height,$padding,$margin){
    width:$width ;
    height: $height;
    padding: $padding ;
    margin: $margin;

}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*formulario de contacto*/
fieldset {
  background-color: white; }

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; }

.formularioContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px; }

/*formulario de contacto*/
.header {
  color: black;
  font-size: 27px;
  padding: 30px; }

.bigicon {
  font-size: 35px;
  color: #5ea0cb; }

footer {
  display: grid;
  background-color: black;
  padding: 10px;
  grid-template-columns: 65% 35%;
  width: auto;
  height: auto; }

.telefonoCorreoDireccion {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-right: 50px;
  text-decoration: none;
  list-style: none;
  font-size: 15px; }
  .telefonoCorreoDireccion a {
    text-decoration: none;
    list-style: none;
    color: white; }

.redesSociales, .iconosRedes {
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 10px;
  font-size: 15px; }

.iconosRedes {
  /*extend*/
  text-decoration: none;
  list-style: none; }

/*aside*/
.dolarCotizacion {
  background-color: rgba(65, 73, 65, 0.5); }

.dolarLink {
  text-align: center; }
  .dolarLink:hover {
    transform: scale(0.7);
    transition-duration: 900ms; }
  .dolarLink a {
    text-decoration: none;
    color: black; }
    .dolarLink a:hover {
      color: red; }

.dolarIcono {
  display: flex;
  justify-content: center;
  align-items: center; }
  .dolarIcono :hover {
    transform: scale(0.7);
    transition-duration: 900ms; }

/*.clase-index{
    @extend .cards-style;
    @include medidas (100%,500px,none,2px)
}*/
/*posicionar las card*/
.superficieMainQ {
  width: auto;
  height: 1400px;
  background-color: white;
  margin: 100px 10px 10px 10px; }

.superficieMain {
  width: auto;
  height: auto;
  background-color: white; }

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 25px;
  /*mixins*/ }

.contenedor .box {
  width: 220px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 25px;
  text-align: center;
  transition: all 0.25s;
  justify-content: center;
  justify-items: center; }
  .contenedor .box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .contenedor .box img {
    width: 220px;
    height: 228px; }
  .contenedor .box h2 {
    font-weight: 600; }
  .contenedor .box p {
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 8px;
    padding: 2px;
    margin: 12px; }

.box {
  justify-content: center;
  align-items: center; }

.box-1 {
  background-color: none;
  grid-area: box-1; }

.box-2 {
  background-color: none;
  grid-area: box-2; }

.box-3 {
  background-color: none;
  grid-area: box-3; }

.box-4 {
  background-color: none;
  grid-area: box-4; }

.box-5 {
  background-color: none;
  grid-area: box-5; }

.box-6 {
  background-color: none;
  grid-area: box-6; }

/**compras desde aca*/
/* Global "table" column settings */
.product-image {
  float: left;
  width: 20%; }

.product-details {
  float: left;
  width: 37%; }

.product-price {
  float: left;
  width: 12%; }

.product-quantity {
  float: left;
  width: 10%; }

.product-removal {
  float: left;
  width: 9%; }

.product-line-price {
  float: left;
  width: 12%;
  text-align: right; }

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table; }


.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  clear: both; }

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1; }

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$'; }

h1 {
  font-weight: 100; }

label {
  color: #aaa; }

.shopping-cart {
  margin-top: -45px;
  padding: 10px; }

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee; }

.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px; }

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }
  .product .product-image {
    text-align: center; }
    .product .product-image img {
      width: 100px; }
  .product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium"; }
  .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em; }
  .product .product-quantity input {
    width: 40px; }
  .product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px; }
  .product .remove-product:hover {
    background-color: #a44; }

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px; }
  .totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right; }
  .totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right; }

.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium"; }

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px; }

.checkout:hover {
  background-color: #494; }

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee; }
  .column-labels {
    display: none; }
  .product-image {
    float: right;
    width: auto; }
    .product-image img {
      margin: 0 0 5px 5px; }
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto; }
  .product-price {
    clear: both;
    width: 70px; }
  .product-quantity {
    width: 100px; }
    .product-quantity input {
      margin-left: 20px; }
  .product-quantity:before {
    content: 'x'; }
  .product-removal {
    width: auto; }
  .product-line-price {
    float: right;
    width: 70px; } }

.tarjetas {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 190px;
  height: 210px;
  margin: 0;
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.tarjetas__contenido {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-182px) rotateY(0);
  transform: translateZ(-182px) rotateY(0);
  -webkit-animation: carrusel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards;
  animation: carrusel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225) forwards; }

.tarjetas__elemento {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 210px;
  border-radius: 6px; }

.tarjetas__elemento:nth-child(1) {
  background: rgba(106, 171, 245, 0.151);
  -webkit-transform: rotateY(0) translateZ(182px);
  transform: rotateY(0) translateZ(182px); }

.tarjetas__elemento:nth-child(2) {
  background: #39d5702a;
  -webkit-transform: rotateY(120deg) translateZ(182px);
  transform: rotateY(120deg) translateZ(182px); }

.tarjetas__elemento:nth-child(3) {
  background: #f0092028;
  -webkit-transform: rotateY(240deg) translateZ(182px);
  transform: rotateY(240deg) translateZ(182px); }

body {
  background: white; }

@-webkit-keyframes carrusel {
  0%, 17.5% {
    -webkit-transform: translateZ(-182px) rotateY(0);
    transform: translateZ(-182px) rotateY(0); }
  27.5%, 45% {
    -webkit-transform: translateZ(-182px) rotateY(-120deg);
    transform: translateZ(-182px) rotateY(-120deg); }
  55%, 72.5% {
    -webkit-transform: translateZ(-182px) rotateY(-240deg);
    transform: translateZ(-182px) rotateY(-240deg); }
  82.5%, 100% {
    -webkit-transform: translateZ(-182px) rotateY(-360deg);
    transform: translateZ(-182px) rotateY(-360deg); } }

@keyframes carrusel {
  0%, 17.5% {
    -webkit-transform: translateZ(-182px) rotateY(0);
    transform: translateZ(-182px) rotateY(0); }
  27.5%, 45% {
    -webkit-transform: translateZ(-182px) rotateY(-120deg);
    transform: translateZ(-182px) rotateY(-120deg); }
  55%, 72.5% {
    -webkit-transform: translateZ(-182px) rotateY(-240deg);
    transform: translateZ(-182px) rotateY(-240deg); }
  82.5%, 100% {
    -webkit-transform: translateZ(-182px) rotateY(-360deg);
    transform: translateZ(-182px) rotateY(-360deg); } }

.preguntas {
  -webkit-animation: preguntas 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: preguntas 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes preguntas {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes preguntas {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/*animacion quienes*/
.quienes {
  -webkit-animation: quienes 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: quienes 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes quienes {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes quienes {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right; }
  .tarjetas {
    position: absolute;
    top: 100%; }
  .product .product-line-price:before {
    content: 'Item Total: $'; }
  .totals .totals-item label {
    width: 60%; }
  .totals .totals-item .totals-value {
    width: 40%; } }

.contenedor {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-row: repeat(6, 1fr);
  grid-template-areas: "box-1" "box-2" "box-3" "box-4" "box-5" "box-6";
  justify-content: center;
  justify-items: center;
  /*
      width: 100%;
      max-width: 100vh;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;    
      */ }

@media (min-width: 576px) {
  .contenedor {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-row: repeat(6, 1fr);
    grid-template-areas: "box-1" "box-2" "box-3" "box-4" "box-5" "box-6";
    justify-content: center;
    justify-items: center; }
  .quienes p {
    font-size: 20px;
    margin: 20px; }
  .preguntas p {
    font-size: 25px;
    margin: 5px; }
  .contenedor .box p {
    font-size: 15px; }
  .contenedor .box {
    width: 330px;
    height: 430px; } }

@media (min-width: 992px) {
  .contenedor {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-1 box-2 box-3" "box-4 box-5 box-6"; }
  .quienes p {
    font-size: 35px;
    margin: 10px; }
  .preguntas p {
    font-size: 35px;
    margin: 12px; }
  .contenedor .box p {
    font-size: 15px; }
  .superficieMainQ {
    width: auto;
    height: 100vh;
    background-color: white;
    margin: 50px 10px 10px 10px; } }
