

/*formulario de contacto*/
fieldset{
  background-color: white;
}
.form-group{
  margin: 10px;
}
.formularioContacto{
  justify-content: center;
  align-items: center;
  padding: 2px 2px;
  
}
/*formulario de contacto*/
.header {
  color: $color-texto-primario;
  font-size: 27px;
  padding: 30px;
}

.bigicon {
  font-size: 35px;
  color: rgb(94, 160, 203);
}